{% extends 'base.html' %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body">
                        {% if levels %}
                            {% for item in levels %}
                                <h1>{{ item.title }}</h1>
                                {% for video in item.lessons.all %}
                                    <video src="{{ video.video.url }}" poster="{{ video.preview.url }}" controls
                                           width="100%" height="auto">
                                        <source src="{{ video.video.url }}" type="video/mp4">
                                        Ваш браузер не поддерживает видеформат
                                    </video>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <h1 class="uk-text-danger">Вам пока не досупны видеоуроки</h1>
                        {% endif %}
                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}