{% extends 'base.html' %}
{% load widget_tweaks staticfiles my_filters %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body">
                        <h2 class="uk-text-center">Перевод бонусов</h2>
                        <div class="uk-width-1-2@m uk-margin-auto">
                            <form action="{% url 'send_points' %}" method="POST" id="send-points">
                                {% csrf_token %}
                                <fieldset class="uk-fieldset">
                                    <input type="hidden" name="from_user" value="{{ request.user.pk }}">
                                    <div class="uk-margin">
                                        <label for="">Лицевой счет получателя</label>
                                        {% render_field form.wallet_id class+='uk-input' %}
                                    </div>
                                    <div class="uk-margin">
                                        <label for="">Сколько хотите перевести</label>
                                        {% render_field form.amount class+='uk-input' placeholder='Введите сумму' %}
                                    </div>
                                    <div class="uk-margin">
                                        <button class="uk-button-primary uk-button" type="submit">Отправить</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <hr>
                        <h4 class="uk-text-center">Вывод бонусов</h4>
                        <div class="uk-width-2-3@m uk-margin-auto">
                            <p class="uk-text-danger">
                                Мы вышлем на ваш номер телефона, верификационный код, после подтверждения которого, ваша
                                заявка будет принята
                            </p>
                        </div>
                        {% if request.user.is_validate %}
                            <div class="uk-width-1-2@m uk-margin-auto">
                                <form action="{% url 'cash_request' %}" class="" id="cash-request">
                                    {% csrf_token %}
                                    <fieldset class="uk-fieldset">
                                        <div class="uk-margin">
                                            <input type="hidden" name="user" value="{{ request.user.pk }}">
                                            {% render_field cash_request_form.points class+='uk-select' %}
                                        </div>
                                        <div class="uk-margin" id="recaptcha-container"></div>
                                        <div class="uk-margin">
                                            <button class="uk-button-primary uk-button" type="submit">Отправить</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <form action="" id="code-verification" class="uk-width-1-2@m uk-margin-auto"
                                      style="display: none">
                                    <fieldset class="uk-fieldset">
                                        <div class="uk-margin">
                                            <input type="text" id="code" class="uk-input">
                                            <a href="#" class="uk-link" id="send_code_again">Мне не пришел код</a>
                                        </div>
                                        <div class="uk-margin">
                                            <button class="uk-button uk-button-primary" type="submit">Подтвердить
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        {% else %}
                            <p class="uk-text-danger">
                                Вы не полностью заполнили свой профиль, пожалуйста проверьте все
                            </p>
                        {% endif %}
                        <hr>
                        <h4 class="uk-text-center">История транзакций</h4>
                        <div class="uk-width-1-1 uk-overflow-auto uk-height-large">
                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                <thead>
                                <tr>
                                    <th>Сколько</th>
                                    <th>Кому</th>
                                    <th>Комментарий</th>
                                    <th>Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in transactions_history %}
                                    <tr>
                                        <td>
                                            {% if item.product %}
                                                {{ item.product.price|floatformat:2 }}
                                            {% elif item.amount %}
                                                {{ item.amount|floatformat:2 }}
                                            {% elif item.sum %}
                                                {{ item.sum|floatformat:2 }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.used_by %}
                                                {{ item.used_by.username }}
                                            {% elif item.to_user %}
                                                {{ item.to_user.username }}
                                            {% elif item.user %}
                                                {{ item.user.username }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ item|transaction_type }}
                                        </td>
                                        <td>
                                            {{ item.timestamp }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}
{% block custom_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            ajax_request($('#send-points'));
            verifyNumber($('#cash-request'), $('#code-verification'), $('#code'), '{{ request.user.phone }}');
        })
    </script>
{% endblock %}