{% extends 'base.html' %}
{% load widget_tweaks %}
{% load my_filters %}
{% load mathfilters %}
{#{% block mobilnik_script %}#}
{#    <script type='text/javascript'>#}
{#        function DemoButton(jwt_value, key) {#}
{#            runDemoButton = document.getElementById('mobilnik_button');#}
{#            mobilnik.buy({#}
{#                jwt: jwt_value,#}
{#                key: key,#}
{#                success: function (e) {#}
{#                    console.log(e);#}
{#                    alert(a);#}
{#                },#}
{#                error: function (e) {#}
{#                    console.log(e);#}
{#                    alert(e);#}
{#                }#}
{#            });#}
{#            return false;#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body ">
                        <h1>ЗАКАЗАТЬ ТАРИФ</h1>
                        {#                        <h1 class="uk-text-danger">В данный момент идут технические работы связанные с электронными#}
                        {#                            кошельками</h1>#}
                        {% get_parent_user request.user as parent %}
                        {% if parent %}
                            <div class="table uk-width-1-1 uk-overflow-auto">
                                <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle uk-margin">
                                    <thead>
                                    <tr>
                                        <th>Спонсор</th>
                                        <th>Уровень спонсора</th>
                                        <th>Контакты</th>
                                        {#                                        <th>Мобильник-кошелек</th>#}
                                        <th>Сумма</th>
                                        {#                                        <th>ID транзакции для спонсора</th>#}
                                        <th>Отправить запрос</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <form action="{% url 'transaction' %}"
                                              id="transaction_form_1" method="POST">
                                            <input type="hidden" name="handler"
                                                   value={{ request.user.pk }}>
                                            {% if request.user.level %}
                                                <input type="hidden" name="product"
                                                       value={{ request.user.level.get_highest_product.pk }}>
                                            {% else %}
                                                <input type="hidden" name="product"
                                                       value={{ products.first.pk }}>
                                            {% endif %}
                                            {#                                                        {% render_field transaction_form.key_for_user class+='uk-input' %}#}
                                            <input type="hidden" name="used_by" value={{ parent.pk }}>
                                            {% csrf_token %}
                                            <td>{{ parent }}</td>
                                            <td>{{ parent.level }}</td>
                                            <td>{{ parent.phone }}</td>
                                            {#                                                    <td>{{ parent.mobilnik }}</td>#}
                                            {% if request.user.level %}
                                                <td>{{ request.user.level.get_highest_product.price }}
                                                    бонусов
                                                </td>
                                            {% else %}
                                                <td>{{ products.first.price }} бонусов</td>
                                            {% endif %}
                                            {#</td>#}
                                            <td>
                                                <a href="#transaction_form_1"
                                                   class="send-form uk-button uk-button-primary">Получить</a>
                                            </td>
                                        </form>
                                    </tr>
                                </table>
                            </div>
                        {% else %}
                            <div class="uk-placeholder uk-text-danger">
                                <h1 class="uk-danger">Вы пока не можете приобрести следующий тариф</h1>
                            </div>
                        {% endif %}
                        {% if request.user.level and parent %}
                            <div class="uk-placeholder uk-margin-medium">
                                <p>Сейчас вы можете заказать
                                    тариф: {{ request.user.level.get_highest_product }}.</p>
                                <p>Для заказа тарифа совершите перевод на
                                    сумму: {{ request.user.level.get_highest_product.price }} бонусов на счет вашего
                                    спонсора</p>
                                <p>Чтобы пополнить свой счет воспользуйтесь терминалами "Мобильник" или же мобильным
                                    приложением, наберите свой лицевой счет, и пополняйте на необходимую вам сумму.
                                    1 бонус = 10 сом!
                                </p>
                            </div>
                        {% elif not request.user.level %}
                            <div class="uk-placeholder uk-margin-medium">
                                <p>У вас пока нет тарифа, вы можете приобрести его у вашего спонсора</p>
                                <p>Для заказа тарифа совершите перевод на
                                    сумму: {{ products.first.price }} бонусов на счет вашего
                                    спонсора</p>
                                <p>Чтобы пополнить свой счет воспользуйтесь терминалами "Мобильник" или же мобильным
                                    приложением, наберите свой лицевой счет, и пополняйте на необходимую вам сумму.
                                    1 бонус = 10 сом!
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}
{% block custom_scripts %}
    <script src="https://acquiring.mobilnik.kg/static/js/acquiring.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.send-form').on('click', function (e) {
                e.preventDefault();
                var form = $($(this).attr("href"));
                $.ajax({
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    method: 'POST',
                    datatype: 'JSON',
                    success: function (response) {
                        if (response.success) {
                            UIkit.notification(response.message, 'success');
                            setTimeout(function () {
                                window.location = window.location.href;
                            }, 500)
                        }
                        else {
                            UIkit.notification.closeAll();
                            UIkit.notification(response.message, 'danger');
                        }
                    }
                })
            });
            {% has_transaction request.user as user_transactions %}
            {% if user_transactions %}
                $.ajax({
                    url: '{% url 'mobilnik' %}',
                    method: 'POST',
                    data: {'transaction_id':{{ user_transactions.pk }}},
                    success: function (response) {
                        console.log(response);
                        $('#mobilnik_button').attr('data-token', response.token);
                        $('#mobilnik_button').attr('data-seller-id', response.seller_id)
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
                $('#mobilnik_button').on('click', function (e) {
                    e.preventDefault();
                    DemoButton($(this).attr('data-token'), $(this).attr('data-seller-id'))
                })
            {% endif %}
        });
    </script>
{% endblock %}