{% extends 'base.html' %}
{% load my_filters %}
{% load mathfilters %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-grid uk-grid-small uk-child-width-1-2@m  " uk-grid=""
                         uk-height-match="target: &gt; div &gt; .uk-card">
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-middle uk-light"
                                 style="    background-color: rgba(62, 189, 249, 0.9);">
                                <div class="uk-flex uk-width-1-1">
                                    <div class="uk-width-1-1">
                                        {% if request.user.level %}
                                            <h3 class="uk-card-title uk-light" style="color: #fff">Ваш
                                                тариф: {{ request.user.level }}</h3>
                                            {% if request.user.level.get_highest_product %}
                                                <div class="uk-margin">
                                                    <p style="color: #fff">Сейчас Вы можете заказать
                                                        тариф {{ request.user.level.get_highest_product }}. Для этого
                                                        вам
                                                        нужно иметь на
                                                        своем счету не
                                                        менее {{ request.user.level.get_highest_product.price }}
                                                        бонусов.</p>
                                                </div>
                                                <a class="uk-button uk-button-default" href="{% url 'get_tariff' %}">Заказать
                                                    тариф</a>
                                            {% else %}
                                                <div class="uk-margin">
                                                    <p>Вы купили самый последний тариф, можете наслаждаться и
                                                        зарабатывать
                                                        деньги</p>
                                                    <p>Вероятно скоро появится тариф, на уровень выше вашего, и вы
                                                        сможете
                                                        его
                                                        приобрести</p>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="uk-margin">
                                                <p>Вы пока еще не приобрели тариф, вы можете его приобрести у компании,
                                                    или у вашего спонсора</p>
                                                <a class="uk-button uk-button-default"
                                                   href="{% url 'get_tariff' %}">Заказать
                                                    тариф</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <div>
                                    <div>
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Тариф</th>
                                                    <th>Цена тарифа</th>
                                                    <th>Продано</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in products %}
                                                    <tr>
                                                        <td class="uk-position-relative">
                                                            <span class="uk-display-inline-block uk-position-absolute"
                                                                  style="top: 0;left: 0; width: 5px;height: 100%;background-color: {{ item.color }};"></span>{{ item.title }}
                                                        </td>
                                                        <td>{{ item.price }} </td>
                                                        <td>{% get_refs_count request item %}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-middle uk-light"
                                 style="    background-color: #25cfab;">
                                <div class="uk-flex uk-width-1-1">
                                    <div class="uk-width-1-1">
                                        <h2 style="color: #fff" class="uk-text-center">ПАРТНЕРСКАЯ ССЫЛКА</h2>
                                        <div class="uk-margin">
                                            <h3 style="color: #fff" class="uk-card-title uk-margin-remove">Главная
                                                страница:</h3>
                                            <a href="{% url 'main' %}?ref={{ request.user.username }}">{{ domain }}?ref={{ request.user.username }}</a>

                                        </div>
                                        <div class="uk-margin">
                                            <h3 style="color: #fff" class="uk-card-title uk-margin-remove">Страница
                                                регистрации:</h3>
                                            <a href="{% url 'main' %}?ref={{ request.user.username }}">{{ domain }}?ref={{ request.user.username }}</a>

                                        </div>
                                        <p><a class="uk-button uk-button-default" style="color: #fff"
                                              href="{% url 'profile-ref-urls' %}">Сделать
                                            редирект ссылки</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-middle uk-light"
                                 style="    background-color: rgb(73, 135, 239);">
                                <div class="uk-flex uk-width-1-1">
                                    <div class="uk-width-1-1">
                                        <h2 class="uk-text-center">СТАТИСТИКА</h2>
                                        <div class="uk-margin">
                                            <h3 style="color: #fff" class="uk-card-title">Количество партнеров в
                                                команде: {{ request.user.related_users.count }}</h3>
                                        </div>
                                        <div class="uk-margin">
                                            <h3 style="color: #fff" class="uk-card-title">
                                                Заработано: {{ request.user.get_earned_money }}
                                                бонусов</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock %}