{% extends 'base.html' %}
{% load my_filters %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body">
                        <h1>ВАША КОМАНДА</h1>
                        {% get_ref_by_line request.user as referals %}
                        {% if referals %}
                            <div class="uk-overflow-auto">
                                <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                    <thead>
                                    <tr>
                                        <th>Спонсор</th>
                                        <th>Уровень реферала</th>
                                        <th>Контакты</th>
                                        <th>Мобильник-кошелек</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in referals %}
                                        <tr>
                                            <td>{{ item.username }}</td>
                                            <td>{{ item.level }}</td>
                                            <td>{{ item.phone }}</td>
                                            <td>{{ item.mobilnik }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% else %}
                            <div class="uk-placeholder uk-margin uk-text-center">
                                <legend class="uk-legend uk-text-danger">У вас пока нет приглашенных пользователей
                                </legend>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}