{% extends 'base.html' %}
{% load my_filters %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body">
                        <h1>ВАША КОМАНДА</h1>
                        {% get_ref_by_line request.user.pk 1 as first_referals %}
                        {% get_ref_by_line request.user.pk 2 as second_referals %}
                        {% get_ref_by_line request.user.pk 3 as third_referals %}
                        {% get_ref_by_line request.user.pk 4 as fourth_referals %}
                        {% get_ref_by_line request.user.pk 5 as fifth_referals %}
                        {% get_ref_by_line request.user.pk 6 as sixth_referals %}
                        {% get_ref_by_line request.user.pk 7 as seventh_referals %}
                        <ul uk-accordion>
                            <li class="uk-open">
                                <a class="uk-accordion-title" href="#">Первая линия</a>
                                <div class="uk-accordion-content">
                                    {% if first_referals %}
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                                <thead>
                                                <tr>
                                                    <th>Спонсор</th>
                                                    <th>Уровень реферала</th>
                                                    <th>Контакты</th>
                                                    <th>Лицевой счет</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in first_referals %}
                                                    <tr>
                                                        <td>{{ item.username }}</td>
                                                        <td>{% if item.level %}{{ item.level }}{% else %}Нет
                                                            тарифа{% endif %}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.wallet_id }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="uk-placeholder uk-margin uk-text-center">
                                            <legend class="uk-legend uk-text-danger">У вас пока нет приглашенных
                                                пользователей
                                            </legend>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Вторая линия</a>
                                <div class="uk-accordion-content">
                                    {% if second_referals %}
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                                <thead>
                                                <tr>
                                                    <th>Спонсор</th>
                                                    <th>Уровень реферала</th>
                                                    <th>Контакты</th>
                                                    <th>Лицевой счет</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in second_referals %}
                                                    <tr>
                                                        <td>{{ item.username }}</td>
                                                        <td>{% if item.level %}{{ item.level }}{% else %}Нет
                                                            тарифа{% endif %}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.mobilnik }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="uk-placeholder uk-margin uk-text-center">
                                            <legend class="uk-legend uk-text-danger">У вас пока нет приглашенных
                                                пользователей
                                            </legend>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Третья линия</a>
                                <div class="uk-accordion-content">
                                    {% if third_referals %}
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                                <thead>
                                                <tr>
                                                    <th>Спонсор</th>
                                                    <th>Уровень реферала</th>
                                                    <th>Контакты</th>
                                                    <th>Лицевой счет</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in third_referals %}
                                                    <tr>
                                                        <td>{{ item.username }}</td>
                                                        <td>{% if item.level %}{{ item.level }}{% else %}Нет
                                                            тарифа{% endif %}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.mobilnik }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="uk-placeholder uk-margin uk-text-center">
                                            <legend class="uk-legend uk-text-danger">У вас пока нет приглашенных
                                                пользователей
                                            </legend>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Четвертая линия</a>
                                <div class="uk-accordion-content">
                                    {% if fourth_referals %}
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                                <thead>
                                                <tr>
                                                    <th>Спонсор</th>
                                                    <th>Уровень реферала</th>
                                                    <th>Контакты</th>
                                                    <th>Лицевой счет</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in fourth_referals %}
                                                    <tr>
                                                        <td>{{ item.username }}</td>
                                                        <td>{% if item.level %}{{ item.level }}{% else %}Нет
                                                            тарифа{% endif %}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.mobilnik }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="uk-placeholder uk-margin uk-text-center">
                                            <legend class="uk-legend uk-text-danger">У вас пока нет приглашенных
                                                пользователей
                                            </legend>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Пятая линия</a>
                                <div class="uk-accordion-content">
                                    {% if fifth_referals %}
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                                <thead>
                                                <tr>
                                                    <th>Спонсор</th>
                                                    <th>Уровень реферала</th>
                                                    <th>Контакты</th>
                                                    <th>Лицевой счет</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in fifth_referals %}
                                                    <tr>
                                                        <td>{{ item.username }}</td>
                                                        <td>{% if item.level %}{{ item.level }}{% else %}Нет
                                                            тарифа{% endif %}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.mobilnik }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="uk-placeholder uk-margin uk-text-center">
                                            <legend class="uk-legend uk-text-danger">У вас пока нет приглашенных
                                                пользователей
                                            </legend>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Шестая линия</a>
                                <div class="uk-accordion-content">
                                    {% if sixth_referals %}
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                                <thead>
                                                <tr>
                                                    <th>Спонсор</th>
                                                    <th>Уровень реферала</th>
                                                    <th>Контакты</th>
                                                    <th>Лицевой счет</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in sixth_referals %}
                                                    <tr>
                                                        <td>{{ item.username }}</td>
                                                        <td>{% if item.level %}{{ item.level }}{% else %}Нет
                                                            тарифа{% endif %}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.mobilnik }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="uk-placeholder uk-margin uk-text-center">
                                            <legend class="uk-legend uk-text-danger">У вас пока нет приглашенных
                                                пользователей
                                            </legend>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Седьмая линия</a>
                                <div class="uk-accordion-content">
                                    {% if seventh_referals %}
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                                <thead>
                                                <tr>
                                                    <th>Спонсор</th>
                                                    <th>Уровень реферала</th>
                                                    <th>Контакты</th>
                                                    <th>Лицевой счет</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in seventh_referals %}
                                                    <tr>
                                                        <td>{{ item.username }}</td>
                                                        <td>{% if item.level %}{{ item.level }}{% else %}Нет
                                                            тарифа{% endif %}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.mobilnik }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="uk-placeholder uk-margin uk-text-center">
                                            <legend class="uk-legend uk-text-danger">У вас пока нет приглашенных
                                                пользователей
                                            </legend>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}