{% extends 'base.html' %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body">
                        <h1>МОИ ПАРТНЕРЫ</h1>
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                <thead>
                                <tr>
                                    <th>Партнеры</th>
                                    <th>Количество</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1 линии</td>
                                    <td>0</td>
                                    <td>Подробнее</td>
                                </tr>
                                <tr>
                                    <td>2 линии</td>
                                    <td>0</td>
                                    <td>Подробнее</td>
                                </tr>
                                <tr>
                                    <td>3 линии</td>
                                    <td>0</td>
                                    <td>Подробнее</td>
                                </tr>
                                <tr>
                                    <td>4 линии</td>
                                    <td>0</td>
                                    <td>Подробнее</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4 class="uk-text-center">Всего в команде: 0 чел.</h4>
                    </div>
                </div>
                <div class="uk-width-1-6@m">
                    <div>
                        <ul class="uk-list uk-card uk-card-default uk-card-body">
                            <li class="active"><a href="">Главная</a></li>
                            <li><a href="">Заказать тариф</a></li>
                            <li><a href="">Реф-ссылки</a></li>
                            <li><a href="">Команда</a></li>
                            <li><a href="">Спонсоры</a></li>
                            <li><a href="">Профиль</a></li>
                            <li><a href="">Служба поддержки</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}