{% extends 'base.html' %}
{% load my_filters %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-grid uk-grid-small uk-child-width-1-2@m  " uk-grid=""
                         uk-height-match="target: &gt; div &gt; .uk-card">
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-middle">
                                <div class="uk-flex uk-width-1-1">
                                    <div class="uk-width-1-1">
                                        <h3 class="uk-card-title">Ваш тариф: {{ request.user.level }}</h3>
                                        <div class="uk-margin">
                                            <p>Сейчас Вы можете заказать
                                                тариф {{ request.user.level.get_highest_product }}. Для этого вам
                                                нужно иметь на
                                                своем QIWI-кошельке не
                                                менее {{ request.user.level.get_highest_product.price }}
                                                рублей.</p>
                                        </div>
                                        <a class="uk-button uk-button-default" href="{% url 'get_tariff' %}">Заказать
                                            тариф</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <div>
                                    <div>
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Тариф</th>
                                                    <th>Цена</th>
                                                    <th>Продано</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in products %}
                                                    <tr>
                                                        <td>{{ item.title }}</td>
                                                        <td>{{ item.price }} руб</td>
                                                        <td>{% get_refs_count request item %}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-middle">
                                <div class="uk-flex uk-width-1-1">
                                    <div class="uk-width-1-1">
                                        <h2 class="uk-text-center">ПАРТНЕРСКАЯ ССЫЛКА</h2>
                                        <div class="uk-margin">
                                            <h3 class="uk-card-title uk-margin-remove">Главная страница:</h3><a href="">http://gamma-finance.com/?ref=max8989</a>
                                        </div>
                                        <div class="uk-margin">
                                            <h3 class="uk-card-title uk-margin-remove">Страница регистрации:</h3><a
                                                href="">http://gamma-finance.com/reg.php?ref=max8989</a>
                                        </div>
                                        <p><a class="uk-button uk-button-default" href="#">Сделать редирект ссылки</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-middle">
                                <div class="uk-flex uk-width-1-1">
                                    <div class="uk-width-1-1">
                                        <h2 class="uk-text-center">СТАТИСТИКА</h2>
                                        <div class="uk-margin">
                                            <h3 class="uk-card-title">Количество партнеров в
                                                команде: {{ request.user.related_users.count }}</h3>
                                        </div>
                                        <div class="uk-margin">
                                            <h3 class="uk-card-title">Заработано: 0 рублей</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-6@m">
                    <div>
                        <ul class="uk-list uk-card uk-card-default uk-card-body">
                            <li class="active"><a href="">Главная</a></li>
                            <li><a href="">Заказать тариф</a></li>
                            <li><a href="">Реф-ссылки</a></li>
                            <li><a href="">Команда</a></li>
                            <li><a href="">Спонсоры</a></li>
                            <li><a href="">Промо-материалы</a></li>
                            <li><a href="">Внутренняя почта</a></li>
                            <li><a href="">Профиль</a></li>
                            <li><a href="">Служба поддержки</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}