{% extends 'base.html' %}
{% load widget_tweaks %}
{% load my_filters %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body">
                        {% has_transaction request.user as user_transactions %}
                        <h1>ЗАКАЗАТЬ ТАРИФ</h1>
                        <div class="uk-overflow-auto">
                            {% if not user_transactions %}
                                <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                    <thead>
                                    <tr>
                                        <th>Спонсор</th>
                                        <th>Уровень спонсора</th>
                                        <th>Контакты</th>
                                        <th>Мобильник-кошелек</th>
                                        <th>Сумма</th>
                                        <th>ID транзакции</th>
                                        <th>ID транзакции для компании</th>
                                        <th>Отправить запрос</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in request.user.get_all_parents %}
                                        {% get_parent_user request.user forloop.counter as parent_dict %}
                                        {% if item.level.level > request.user.level.level and item == parent_dict.parent %}
                                            {% set_flag "true" as flag %}
                                            {% if flag and forloop.counter == parent_dict.counter %}
                                                <tr>
                                                    <td>{{ item.username }}</td>
                                                    <td>{{ item.level }}</td>
                                                    <td>{{ item.phone }}</td>
                                                    <td>{{ item.mobilnik }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <form action="{% url 'transaction' %}"
                                                          id="transaction_form_{{ forloop.counter }}" method="POST">
                                                        {% csrf_token %}
                                                        <td>{{ item }}</td>
                                                        <td>{{ item.level }}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.mobilnik }}</td>
                                                        {% if request.user.level %}
                                                            <td>{{ request.user.level.get_highest_product.price }} сом
                                                            </td>
                                                        {% else %}
                                                            <td>{{ products.first.price }} сом</td>
                                                        {% endif %}
                                                        <td>
                                                            <input type="hidden" name="handler"
                                                                   value={{ request.user.pk }}>
                                                            {% if request.user.level %}
                                                                <input type="hidden" name="product"
                                                                       value={{ request.user.level.get_highest_product.pk }}>
                                                            {% else %}
                                                                <input type="hidden" name="product"
                                                                       value={{ products.first.pk }}>
                                                            {% endif %}
                                                            {% render_field transaction_form.key_for_user class+='uk-input' %}
                                                            <input type="hidden" name="used_by" value={{ item.pk }}>
                                                        </td>
                                                        <td>
                                                            {% render_field transaction_form.key_for_admin class+='uk-input' %}
                                                        </td>
                                                        <td>
                                                            <a href="#transaction_form_{{ forloop.counter }}"
                                                               class="send-form uk-button uk-button-primary">Отправить</a>
                                                        </td>
                                                    </form>
                                                </tr>

                                            {% endif %}

                                        {% endif %}
                                    {% endfor %}
                                </table>
                                {% if request.user.level %}
                                    <div class="uk-placeholder uk-margin-medium">
                                        <p>У вас тариф: Красный, и сейчас вы можете заказать тариф: Жёлтый.</p>
                                        <p>Для заказа тарифа совершите перевод на
                                            сумму: {{ request.user.level.get_highest_product.price }} сом через
                                            платежную
                                            систему
                                            w.qiwi.com на вышеуказанный номер.</p>
                                        <p>В комментарии к переводу укажите: От {{ request.user }}, Gamma
                                            Finance</p>
                                        <p>После совершения перевода, в QIWI-кошельке в верхнем правом углу
                                            переходим в
                                            раздел
                                            "История".</p>
                                        <p>Далее в левом блоке выбираем период отчетов "Сегодня".</p>
                                        <p>Далее копируем и вставляем ID транзакцию перевода и нажимаем "Заказать
                                            тариф"</p>
                                        <p>Ваш спонсор получит уведомление о покупке тарифа, зайдет в свой
                                            QIWI-кошелек,
                                            если
                                            платеж поступил на его счет, то сразу подтвердит Ваш заказ.</p>
                                    </div>
                                {% else %}
                                    <div class="uk-placeholder uk-margin-medium">
                                        <p>У вас пока нет тарифа, вы можете приобрести его у вашего спонсора</p>
                                        <p>Для заказа тарифа совершите перевод на сумму: {{ products.first.price }}
                                            сом через платежную
                                            систему
                                            w.qiwi.com на вышеуказанный номер.</p>
                                        <p>В комментарии к переводу укажите: От {{ request.user }}, Gamma
                                            Finance</p>
                                        <p>После совершения перевода, в QIWI-кошельке в верхнем правом углу
                                            переходим в
                                            раздел
                                            "История".</p>
                                        <p>Далее в левом блоке выбираем период отчетов "Сегодня".</p>
                                        <p>Далее копируем и вставляем ID транзакцию перевода и нажимаем "Заказать
                                            тариф"</p>
                                        <p>Ваш спонсор получит уведомление о покупке тарифа, зайдет в свой
                                            QIWI-кошелек,
                                            если
                                            платеж поступил на его счет, то сразу подтвердит Ваш заказ.</p>
                                    </div>
                                {% endif %}
                            {% elif request.user.level == products.last.level %}
                                <div class="uk-placeholder uk-margin medium uk-text-center">
                                    <p>Вы купили самый последний тариф, можете наслаждаться и зарабатывать
                                        деньги</p>
                                    <p>Вероятно скоро появится тариф, на уровень выше вашего, и вы сможете его
                                        приобрести</p>
                                </div>
                            {% else %}
                                <legend class="uk-text-center uk-legend uk-text-success">Ваш запрос еще
                                    обрабатывается
                                </legend>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}
{% block custom_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.send-form').on('click', function (e) {
                e.preventDefault();
                var form = $($(this).attr("href"));
                console.log(form);
                console.log(form.serialize());
                $.ajax({
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    method: 'POST',
                    datatype: 'JSON',
                    success: function (response) {
                        if (response.success) {
                            UIkit.notification(response.message, 'success');
                            setTimeout(function () {
                                window.location = window.location.href;
                            }, 500)
                        }
                        else {
                            UIkit.notification.closeAll();
                            UIkit.notification('Заполните обязательные поля', 'danger');
                        }
                    }
                })
            })
        });
    </script>
{% endblock %}