{% extends 'base.html' %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body">
                        <h1>РЕФ-ССЫЛКИ
                            <div class="uk-placeholder uk-margin-medium-top">
                                <div class="uk-margin-medium">
                                    <p>Главная страница:
                                        <a href="{% url 'main' %}?ref={{ request.user.username }}">{{ domain }}?ref={{ request.user.username }}</a>
                                    </p>
                                </div>
                                <div class="uk-background-muted uk-padding uk-panel">
                                    <div class="uk-text-center"><span uk-icon="icon: warning; ratio: 2"></span></div>
                                    <p class="uk-h4 uk-margin-small-top">ВНИМАНИЕ! В соц. сетях переходы по нашим
                                        реф-ссылкам заблокированы. <br> Для обхода данной блокировки необходимо
                                        использовать
                                        редирект.</p>
                                </div>
{#                                <div class="uk-margin-large">#}
{#                                    <h4>Видео инструкция - Как сделать редирект реф-ссылки</h4>#}
{#                                    <div class="uk-width-1-1@m uk-margin-auto">#}
{#                                        <iframe width="100%" height="500"#}
{#                                                src="https://www.youtube.com/embed/LgWVSDNWFD0"#}
{#                                                frameborder="0" allow="autoplay; encrypted-media"#}
{#                                                allowfullscreen></iframe>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="uk-margin">#}
{#                                    <h4 class="uk-text-center">Первая часть кода:</h4>#}
{#                                    <textarea class="uk-text-center" rows="6" cols="100" disabled="true"#}
{#                                              style="width: 100%;border: none;resize: none;font-size: 24px;">#}
{#                                        <meta URL="" content="1" http-equiv="Refresh">#}
{#                                    </textarea>#}
{#                                </div>#}
{#                                <div class="uk-margin">#}
{#                                    <h4 class="uk-text-center">Вторая часть кода:</h4>#}
{#                                    <textarea class="uk-text-center" rows="6" cols="100" disabled="true"#}
{#                                              style="width: 100%;border: none;resize: none;font-size: 24px;">#}
{#                                        <meta URL="" content="1" http-equiv="Refresh">#}
{#                                    </textarea>#}
{#                                </div>#}
                            </div>
                        </h1>
                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}