{% extends 'base.html' %}
{% block content %}
    <section class="personal-area">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid uk-grid-small" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-card-default uk-card-body">
                        <h1>МОИ СПОНСОРЫ</h1>
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-middle">
                                <thead>
                                <tr>
                                    <th>Линия</th>
                                    <th>Логин</th>
                                    <th>Имя Фамилия</th>
                                    <th>Статус</th>
                                    <th>Контакты</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in request.user.get_all_parents %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.username }}</td>
                                        <td>{{ item.first_name }} {{ item.last_name }}</td>
                                        <td>{{ item.level }}</td>
                                        <td>{{ item.phone }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% include 'partials/profile-sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}