certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==1.7.2
Django==1.11.12
django-ckeditor==5.4.0
django-colorfield==0.1.14
django-jet==1.0.7
django-js-asset==1.0.0
django-mathfilters==0.4.0
django-mptt==0.9.0
django-simple-email-confirmation==0.23
django-widget-tweaks==1.4.2
enum34==1.1.6
google-api-python-client==1.4.1
httplib2==0.11.3
idna==2.6
ipaddress==1.0.22
oauth2client==4.1.2
Pillow==5.1.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyJWT==1.5.3
pytz==2018.3
requests==2.18.4
rsa==3.4.2
six==1.11.0
typing==3.5.3.0
uritemplate==3.0.0
urllib3==1.22
