<div class="uk-width-1-6@m">
    <div>
        <ul class="uk-list uk-card uk-card-default uk-card-body">
            <li class="active"><a href="">Главная</a></li>
            <li><a href="{% url 'profile' %}">Заказать тариф</a></li>
            <li><a href="{% url 'profile-ref-urls' %}">Реф-ссылки</a></li>
            {#            <li><a href="{% url 'profile-command' %}">Команда</a></li>#}
            {#            <li><a href="{% url 'profile-sponsors' %}">Спонсоры</a></li>#}
            {#            <li><a href="{% url 'promo' %}">Промо-материалы</a></li>#}
            <li><a href="{% url 'profile-settings' %}">Профиль</a></li>
            <li><a href="{% url 'profile-settings' %}">Запросы</a></li>
            <li><a href="">Служба поддержки</a></li>
        </ul>
    </div>
</div>