<div class="uk-width-1-4@m">
    <div>
        <ul class="uk-list uk-card uk-card-default uk-card-body">
            <li>
                <a class="uk-flex-middle" href="" style="background-color: indianred;">
                    <i class="uk-margin-small-right fa fa-user" aria-hidden="true"></i>
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </a>
            </li>
            <li>
                <a class="uk-flex-middle" href="" style="background-color: indianred;">
                    <i class="uk-margin-small-right fa fa-money-bill-alt" aria-hidden="true"></i>
                    Ваш баланс: {{ request.user.points }} бонусов
                </a>
            </li>
            <li>
                <a class="uk-flex-middle" href="" style="background-color: indianred;">
                    <i class="uk-margin-small-right fa fa-credit-card" aria-hidden="true"></i>
                    Лицевой счет: {{ request.user.wallet_id }}
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="uk-list uk-card uk-card-default uk-card-body">
            <li class="active">
                <a class="uk-flex-middle" href="{% url 'main' %}">
                    <i class="uk-margin-small-right fa fa-home" aria-hidden="true"></i>
                    Главная
                </a>
            </li>
            <li>
                <a class="uk-flex-middle" href="{% url 'get_tariff' %}">
                    <i class="uk-margin-small-right fa fa-shopping-cart" aria-hidden="true"></i>
                    Заказать тариф
                </a>
            </li>
            <li>
                <a class="uk-flex-middle" href="{% url 'profile-transactions' %}">
                    <i class="uk-margin-small-right fa fa-dollar-sign" aria-hidden="true"></i>
                    Транзакции
                </a>
            </li>
            <li>
                <a class="uk-flex-middle" href="{% url 'profile-sponsors' %}">
                    <i class="uk-margin-small-right fa fa-users" aria-hidden="true"></i>
                    Спонсоры
                </a>
            </li>
            <li>
                <a class="uk-flex-middle" href="{% url 'profile-referals' %}">
                    <i class="uk-margin-small-right fa fa-user-circle" aria-hidden="true"></i>
                    Команда
                </a>
            </li>
            <li>
                <a class="uk-flex-middle" href="{% url 'profile-education' %}">
                    <i class="uk-margin-small-right fa fa-bookmark" aria-hidden="true"></i>
                    Промо-материалы
                </a>
            </li>
            <li>
                <a class="uk-flex-middle" href="{% url 'profile-settings' %}">
                    <i class="uk-margin-small-right fa fa-user" aria-hidden="true"></i>
                    Профиль
                </a>
            </li>
        </ul>
    </div>
</div>

