@import '//codepenio/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
    top: 90%;
    left: -110%;
}

.social-btns .btn i {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.social-btns .btn.facebook:before {
    background-color: #3b5998;
}

.social-btns .btn.facebook i {
    color: #3b5998;
}

.social-btns .btn.twitter:before {
    background-color: #3cf;
}

.social-btns .btn.twitter i {
    color: #3cf;
}

.social-btns .btn.google:before {
    background-color: #dc4a38;
}

.social-btns .btn.google i {
    color: #dc4a38;
}

.social-btns .btn.dribbble:before {
    background-color: #f26798;
}

.social-btns .btn.dribbble i {
    color: #f26798;
}

.social-btns .btn.skype:before {
    background-color: #00aff0;
}

.social-btns .btn.skype i {
    color: #00aff0;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
}

.social-btns .btn:focus i,
.social-btns .btn:hover i {
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.social-btns {
    margin: auto;
    font-size: 0;
    text-align: center;
}

.social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
}

.social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.social-btns .btn i {
    font-size: 20px;
    vertical-align: middle;
}
