<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>New Life</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body style="background-color: #00A8C5;">
<img src="{% static 'img/logo_new_1.png' %}" width="30%" height="auto"
     style="display:block;margin: auto;margin-top: 40px">
<h1 style="color: #fff;text-align: center;margin-top: 100px;font-family: 'Roboto',sans-serif;">Ведутся технические
    работы
    связаные с электронными
    кошельками</h1>
</body>
</html>