{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>New Life</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Page description">
    <meta name="keywords" content="page, keywords">
    <meta name="theme-color" content="#000000">
    <meta name="copyright" content="Author">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="apple-mobile-web-app-title" content="Application Name">
    <meta name="msapplication-TileImage" content="img/favicons/144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no">
    <style type="text/css">
        body {
            background: transparent url({% static 'img/diagonal.png' %}) repeat scroll 50%
        }

        .intl-tel-input {
            width: 100% !important;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/libs.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/intlTelInput.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'img/logo_new.png' %}" type="image/png">
    <link rel="icon" href="{% static 'img/logo_new.png' %}" type="image/png" sizes="152x152">
    <link rel="icon" href="{% static 'img/logo_new.png' %}" type="image/png" sizes="256x256">
    <link rel="icon" href="{% static 'img/logo_new.png' %}" type="image/png" sizes="512x512">
    <link rel="apple-touch-icon" href="{% static 'img/logo_new.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static 'img/logo_new.png' %}" sizes="256x256">
    <link rel="apple-touch-icon" href="{% static 'img/logo_new.png' %}" sizes="512x512">
    {% block mobilnik_script %}
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122341015-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-122341015-1');
    </script>

</head>
<body class="uk-animation-fade">
<header uk-sticky="top: 500; animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
    <div class="uk-container">
        <nav class="uk-navbar uk-visible@l" uk-navbar="">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a href="{% url 'main' %}">
                        <img src="{% static 'img/logo_new_1.png' %}" width="90" height="90">
                    </a></li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="{% url 'main' %}">Главная</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'mark_view' %}">Маркетинг</a></li>
                    {% endif %}
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li><a href="{% url 'agreement' %}">Соглашение</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav reg uk-text-center">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                        <li><a href="#" uk-toggle="target: #enter">Вход</a></li>
                        <li><a href="#" uk-toggle="target: #registration"> Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="boundary-align uk-panel uk-hidden@l">
        <div class="uk-flex-between uk-flex">
            <div>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" style="color: #fff;">Личный кабинет</a>
                {% else %}
                    <a href="#" uk-toggle="target: #enter" style="color: #fff; margin-right: 10px;">Вход</a>
                    <a href="#" uk-toggle="target: #registration" style="color: #fff">Регистрация</a>
                {% endif %}
            </div>
            <div>
                <button class="uk-button uk-button-default" type="button">
                    <span uk-icon="icon: grid"></span>
                </button>
                <div class="uk-margin-remove"
                     uk-drop="pos: bottom-justify; boundary: .boundary-align; boundary-align: true; mode: click">
                    <div class="uk-card uk-card-body uk-card-default">
                        <nav class="uk-navbar" uk-navbar="">
                            <div class="uk-navbar-center">
                                <ul class="uk-navbar-nav">
                                    <li>
                                        <a href="{% url 'main' %}">
                                            <img src="{% static 'img/logo_new_1.png' %}" width="50" height="50">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="uk-navbar-nav">
                                    <li class="uk-active"><a href="{% url 'main' %}">Главная</a></li>
                                    {% if request.user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'mark_view' %}">Маркетинг</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="#">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'agreement' %}">Соглашение</a>
                                    </li>
                                </ul>
                                <ul class="uk-navbar-nav reg uk-text-center uk-margin">
                                    {% if request.user.is_authenticated %}
                                        <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
                                        <li><a href="{% url 'logout' %}">Выход</a></li>
                                    {% else %}
                                        <li><a href="#" uk-toggle="target: #enter">Вход</a></li>
                                        <li><a href="#" uk-toggle="target: #registration"> Регистрация</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="preloader">
    <div class="preloader-container">
        <div class="📦"></div>
        <div class="📦"></div>
        <div class="📦"></div>
        <div class="📦"></div>
        <div class="📦"></div>
    </div>
</div>
{% block content %}
{% endblock %}
<footer>
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-3@m">
            <div>
                <div class="item">
                    <p>Copyright © 2018</p>
                </div>
            </div>
            <div>
                <div class="social-btns">
                    <a class="btn facebook" href="#"><i class="fab fa-facebook"></i></a>
                    <a class="btn twitter" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn google" href="#"><i class="fab fa-google"></i></a>
                    <a class="btn dribbble" href="#"><i class="fab fa-dribbble"></i></a>
                    <a class="btn skype" href="#"><i class="fab fa-skype"></i></a>
                </div>
            </div>
            <div class="uk-text-right">
                <a style="color: #fff;font-family: AvenirNextCyr-Light;" href="mailto:newlifekgholding@gmail.com">newlifekgholding@gmail.com</a>
            </div>
        </div>
    </div>
</footer>
<!-- This is the modal enter-->
<div id="enter" uk-modal="">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
        <form action="{% url 'login' %}" method="POST" id="login-form">
            {% csrf_token %}
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Вход</legend>
                <div class="uk-margin">
                    {% render_field login_form.username class+='uk-input' placeholder="Логин" %}
                </div>
                <div class="uk-margin uk-position-relative">
                    {% render_field login_form.password class+='uk-input' placeholder="Пароль" %}
                    <a href="#" class="uk-form-icon uk-form-icon-flip show_password" style="text-decoration: none"><i
                            class="fas fa-eye"></i></a>
                </div>
                <div class="uk-flex uk-flex-middle uk-flex-between">
                    <button class="uk-button uk-button-primary" type="submit">Войти</button>
                    <a href="#reset-password" uk-toggle>Забыл пароль</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div id="reset-password" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
        <form action="{% url 'reset_password' %}" id="reset_password_form">
            {% csrf_token %}
            <fiedlset>
                <legend class="uk-legend">Забыл пароль</legend>
                <hr>
                <div class="uk-margin">
                    <input type="email" class="uk-input" name="reset_email"
                           placeholder="Введите имейл указанный при регистрации"
                           required>
                </div>
                <button class="uk-button uk-button-primary">Восстановить</button>
            </fiedlset>
        </form>
    </div>
</div>
<!-- This is the modal registration-->
<div id="registration" uk-modal="">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
        <form action="{% url 'create_user' %}" method="POST" id="user-form">
            {% csrf_token %}
            <p class="uk-text-danger">Просьба указывать данные с паспорта, т.к в последующем ваши данные будут
                использованы для уплаты налогов</p>
            <legend class="uk-legend">Регистрация</legend>
            <ul class="uk-subnav uk-subnav-pill"
                uk-switcher="animation: uk-animation-slide-left-small, uk-animation-slide-right-small">
                <li><a href="#">Аккаунт</a></li>
                <li><a class="disabled-link" href="#">Личные данные</a></li>
                <li><a class="disabled-link" href="#">Спонсор</a></li>
            </ul>
            <ul class="uk-switcher uk-margin">
                <li>
                    <div class="uk-margin">
                        {% render_field signup_form.username class+='uk-input' placeholder='Логин' %}
                    </div>
                    <div class="uk-margin">
                        {% render_field signup_form.email class+='uk-input' placeholder='Почта' %}
                    </div>
                    <div class="uk-margin uk-position-relative">
                        {% render_field signup_form.password1 class+='uk-input' placeholder='Пароль' %}
                        <a href="#" class="uk-form-icon uk-form-icon-flip show_password"
                           style="text-decoration: none"><i
                                class="fas fa-eye"></i></a>
                    </div>
                    <div class="uk-margin uk-position-relative">
                        {% render_field signup_form.password2 class+='uk-input' placeholder='Повторите пароль' %}
                        <a href="#" class="uk-form-icon uk-form-icon-flip show_password"
                           style="text-decoration: none"><i
                                class="fas fa-eye"></i></a>
                    </div>
                    <a class="uk-button uk-button-primary next-tab" data-index="1">Далее</a>
                </li>
                <li>
                    <div class="uk-margin">
                        {% render_field signup_form.first_name class+='uk-input' placeholder='Имя' %}
                    </div>
                    <div class="uk-margin">
                        {% render_field signup_form.last_name class+='uk-input' placeholder='Фамилия' %}
                    </div>
                    <div class="uk-margin">
                        {% render_field signup_form.passport_id class+='uk-input' placeholder='Паспорт серии' %}
                    </div>
                    <div class="uk-margin">
                        {% render_field signup_form.INN class+='uk-input' placeholder='ИНН' %}
                    </div>
                    <div class="uk-margin">
                        <select id="country" class="uk-select" name="country"></select>
                    </div>
                    <div class="uk-margin">
                        <select name="region" class="uk-select" id="state"></select>
                    </div>
                    <div class="uk-margin">
                        {% render_field signup_form.city class+='uk-input' placeholder='Город' required="true" %}
                    </div>
                    <div class="uk-margin">
                        <p class="uk-text-danger" id="phone-error" style="display: none;">Неправильный номер</p>
                        <input type="text" class="phone_with_code uk-input" required>
                        <input type="hidden" name="phone" id="hidden_number">
                        {#                        {% render_field signup_form.phone class+='uk-input' placeholder="Номер телефона с кодом" required="true" %}#}
                    </div>
                    <a class="uk-button uk-button-primary next-tab" data-index="2">Далее</a>
                </li>
                <li>
                    <div class="uk-margin">
                        {% render_field signup_form.sponsor class+='uk-input' placeholder='Введите логин спонсора' required="true" %}
                    </div>
                    <div class="uk-margin">
                        <label>
                            {% render_field signup_form.is_agree class+='uk-checkbox uk-margin-right' %}
                            Я согласен с условиями <a href="{% url 'agreement' %}" target="_blank">соглашения</a>
                        </label>
                    </div>
                    <button type="submit" class="uk-button uk-button-primary">Зарегистрироваться</button>
                </li>
            </ul>
            {#            <button class="uk-button uk-button-primary" type="submit">Регистрация</button>#}
        </form>
    </div>
</div>
<div class="scroll-top">
    <i class="fa fa-angle-up"></i>
</div>
<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/intlTelInput.min.js' %}"></script>
<script src="{% static 'js/countries.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/common.min.js' %}"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script type="text/javascript">
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDtAWl2geXjct6mMcEgS90TCAbGy18lwvc",
        authDomain: "newlife-210318.firebaseapp.com",
        databaseURL: "https://newlife-210318.firebaseio.com",
        projectId: "newlife-210318",
        storageBucket: "",
        messagingSenderId: "143353665323"
    };
    firebase.initializeApp(config);
    firebase.auth().useDeviceLanguage();

    var verifyNumberForm = $('#code-verification');

    function ajax_request(form) {
        $(form).on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                method: 'POST',
                datatype: 'JSON',
                success: function (response) {
                    UIkit.notification.closeAll();
                    if (response.success) {
                        UIkit.notification(response.message, 'success');
                        setTimeout(function () {
                            window.location = window.location.href;
                        }, 700)
                    }
                    else {
                        UIkit.notification(response.message, 'danger');
                    }
                }
            })
        })
    }

    function isPhoneNumberValid(phone) {
        var pattern = /^\+[0-9\s\-\(\)]+$/;
        var phoneNumber = phone;
        return phoneNumber.search(pattern) !== -1;
    }

    function verifyNumber(firstForm, secondForm, codeInput, phoneNumber) {
        firstForm.on('submit', function (e) {
            e.preventDefault();
        });
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
            'size': 'normal',
            'callback': function (response) {
                // reCAPTCHA solved, allow signInWithPhoneNumber.
                // ...
            },
            'expired-callback': function () {
                // Response expired. Ask user to solve reCAPTCHA again.
                // ...
            }
        });
        recaptchaVerifier.render().then(function (widgetId) {
            window.recaptchaWidgetId = widgetId;
            var recaptchaResponse = grecaptcha.getResponse(window.recaptchaWidgetId);
        });
        var appVerifier = window.recaptchaVerifier;
        firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
            .then(function (confirmationResult) {
                // SMS sent. Prompt user to type the code from the message, then sign the
                // user in with confirmationResult.confirm(code).
                window.confirmationResult = confirmationResult;
                firstForm.fadeOut();
                secondForm.fadeIn();
                secondForm.on('submit', function (e) {
                    e.preventDefault();
                    confirmationResult.confirm(codeInput.val()).then(function (result) {
                        $.ajax({
                            url: firstForm.attr('action'),
                            method: 'POST',
                            data: firstForm.serialize(),
                            success: function (response) {
                                verifyNumberForm.fadeOut();
                                if (response.success) {
                                    secondForm.parent().prepend('<div class="uk-alert-success" uk-alert>\n' +
                                        '    <a class="uk-alert-close" uk-close></a>\n' +
                                        '    <p>' + response.message + '</p>\n' +
                                        '</div>\n')
                                }
                                else {
                                    secondForm.parent().prepend('<div class="uk-alert-danger" uk-alert>\n' +
                                        '    <a class="uk-alert-close" uk-close></a>\n' +
                                        '    <p>' + response.message + '</p>\n' +
                                        '</div>')
                                }
                            }
                        })
                    }).catch(function (error) {
                    });
                })
            })
            .catch(function (error) {
                grecaptcha.reset(window.recaptchaWidgetId);
                // Error; SMS not sent
                // ...
            });

        $('.scroll-top').on('click', function () {
            $('body,html').animate({scrollTop: 0}, 700, 'swing');
        });
    }

    function nextTab(link) {
        link.on('click', function (e) {
            e.preventDefault();
            UIkit.switcher('.uk-subnav').show($(this).attr('data-index'));
        })
    }

    $(window).load(function () {
        setTimeout(function () {
            $('.preloader').fadeOut('slow');
            $('html,body').scrollTop(0);
        }, 500)
    });
    $(document).ready(function () {
        ajax_request($('#user-form'));
        ajax_request($('#login-form'));
        nextTab($('.next-tab'))
    })
</script>
{% block custom_scripts %}
    <script type="text/javascript">
        function get(name) {
            if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }

        $(document).ready(function () {
            $('body,html').scrollTop(0);
            if (get('ref')) {
                $('#id_sponsor').addClass('uk-disabled').val(get('ref'));
            }
            ajax_request($('#reset_password_form'));
            $('.show_password').on('click', function (e) {
                e.preventDefault();
                if ($(this).children().hasClass('fa-eye')) {
                    $(this).siblings('input').attr('type', 'text');
                    $(this).children().removeClass('fa-eye').addClass('fa-eye-slash');
                }
                else {
                    $(this).siblings('input').attr('type', 'password');
                    $(this).children().removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        })
    </script>
    <script>
        function increment() {
            $('.box').hide();
            setTimeout(function () {
                $('.box').show();
            }, 100);

            $('.number').each(function () {
                var $this = $(this),
                    value = $this.text();
                $({someValue: 0}).animate({someValue: value}, {
                    duration: 1200,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.round(this.someValue));
                    },
                    complete: function () {
                        $this.text(value);
                    }
                });
            });
        }

        increment();
    </script>
{% endblock %}
</body>
</html>