{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <section class="slider">
        <div class="uk-position-relative uk-visible-toggle"
             uk-slideshow="animation: push; min-height: 300; max-height: 700">
            <ul class="uk-slideshow-items">
                <li><img src="{% static 'img/slider.jpg' %}" alt="" uk-cover="">
                    <div class="uk-overlay uk-overlay-primary uk-position-center uk-text-center">
                        <h3>The new <br> ONLINE BUSINESS</h3>
                        <p class="uk-margin-remove">Жизнь ярче. Денег больше.</p>
                    </div>
                </li>
                <li><img src="{% static 'img/slider.jpg' %}" alt="" uk-cover="">
                    <div class="uk-overlay uk-overlay-primary uk-position-center uk-text-center">
                        <h3>Overlay Bottom</h3>
                        <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </li>
                <li><img src="{% static 'img/slider.jpg' %}" alt="" uk-cover="">
                    <div class="uk-overlay uk-overlay-primary uk-position-center uk-text-center">
                        <h3>Overlay Bottom</h3>
                        <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </li>
            </ul>
            <div class="uk-light"><a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                                     uk-slidenav-previous="" uk-slideshow-item="previous"></a><a
                    class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next=""
                    uk-slideshow-item="next"></a></div>
        </div>
    </section>
    <section class="statistic">
        <div class="uk-container">
            <h2>Статистика</h2>
            <div class="uk-grid uk-child-width-1-3@m" uk-grid="">
                <div>
                    <div class="item">
                        <div class="ldBar label-center" style="width:50%;height:50%;margin:auto;" data-value="55"
                             data-preset="circle" data-stroke="#82b440" data-stroke-trail-width="10"
                             data-stroke-width="5"></div>
                        <h4 class="uk-text-center">Lorem ipsum dolor sit amet.</h4>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="ldBar label-center" style="width:50%;height:50%;margin:auto;" data-value="35"
                             data-preset="circle" data-stroke="#82b440" data-stroke-trail-width="10"
                             data-stroke-width="5"></div>
                        <h4 class="uk-text-center">Lorem ipsum dolor sit amet.</h4>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="ldBar label-center" style="width:50%;height:50%;margin:auto;" data-value="35"
                             data-preset="circle" data-stroke="#82b440" data-stroke-trail-width="10"
                             data-stroke-width="5"></div>
                        <h4 class="uk-text-center">Lorem ipsum dolor sit amet.</h4>
                    </div>
                </div>
            </div>
            <p class="uk-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, nesciunt. Lorem,
                ipsum
                dolor sit amet consectetur adipisicing elit. Modi voluptas aspernatur reiciendis minus labore,
                temporibus
                atque fugit dolorum aperiam hic!</p>
        </div>
    </section>
    <section class="text-block" style="background-color: rgba(62, 189, 249, 0.9); ;">
        <div class="uk-container">
            <h4>Начните свой бизнес с профессионалами</h4><a class="uk-button uk-button-default" href="">Начать</a>
        </div>
    </section>
    <section class="work-block">
        <div class="uk-container">
            <h4>Как это все устроено</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dX3k_QDnzHE" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique exercitationem at facilis vel debitis
                vero
                quis quasi laudantium fuga consectetur. Sed laborum nesciunt dolorem eius error laboriosam commodi amet
                deserunt aut sunt nemo nihil reprehenderit qui non, accusantium odit? Suscipit.</p>
        </div>
    </section>
    <section class="text-block" style="background-color: #f3c753; ;">
        <div class="uk-container">
            <h4>Начните свой бизнес с профессионалами</h4><a class="uk-button uk-button-default" href="">Начать</a>
        </div>
    </section>
    <section class="advantage">
        <div class="uk-container">
            <h2>Наше преимущество</h2>
            <div class="uk-grid uk-grid-small uk-margin-large uk-child-width-1-4@m" uk-grid=""
                 uk-height-match="target: &gt; div &gt; .item">
                <div>
                    <div class="item uk-box-shadow-small">
                        <div class="uk-padding">
                            <div class="image uk-text-center"><img src="{% static 'img/t1.png' %}" alt=""></div>
                            <h5 class="uk-text-center">Открыт для всех</h5>
                            <p class="uk-text-center">Полностью отсутствует ежемесячная абонентская плата. Зарабатывайте
                                когда хотите, даже если вы были в отъезде, аккаунт остается за вами, чтобы продолжить
                                участие, просто войдите в него.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small">
                        <div class="uk-padding">
                            <div class="image uk-text-center"><img src="{% static 'img/t2.png' %}" alt=""></div>
                            <h5 class="uk-text-center">Бонус-партнеры</h5>
                            <p class="uk-text-center">Каждому новому участнику дается по 2 партнера от проекта в
                                качестве
                                бонуса. Чем раньше вы вступите в проект, тем быстрей вы получите партнеров и начнете
                                зарабатывать.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small">
                        <div class="uk-padding">
                            <div class="image uk-text-center"><img src="{% static 'img/t3.png' %}" alt=""></div>
                            <h5 class="uk-text-center">Мгновенные переводы</h5>
                            <p class="uk-text-center">Все денежные переводы осуществляются только между участниками
                                проекта
                                напрямую, без посредников. В проекте деньги не хранятся, что гарантирует
                                безопасность.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small">
                        <div class="uk-padding">
                            <div class="image uk-text-center"><img src="{% static 'img/t4.png' %}" alt=""></div>
                            <h5 class="uk-text-center">Развитие и поддержка</h5>
                            <p class="uk-text-center">Профессиональная команда поддержки всегда поможет, и
                                проконсультирует.
                                Мы даем всем бесплатное обучение и вы начнете зарабатывать правильно.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tarif">
        <div class="uk-container">
            <h2>Тарифы и стоимость</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, similique?</p>
            <div class="uk-grid uk-margin-large uk-child-width-1-5@m" uk-grid="">
                <div>
                    <div class="item">
                        <div class="uk-margin">
                            <h5 class="uk-text-center">Lorem ipsum dolor sit amet.</h5>
                            <h6>Категория</h6>
                        </div>
                        <div class="uk-cover-container uk-height-small"><img src="http://via.placeholder.com/100x100"
                                                                             alt=""
                                                                             uk-cover=""></div>
                        <p class="uk-text-center">6500 Сом</p>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-margin">
                            <h5 class="uk-text-center">Lorem ipsum dolor sit amet.</h5>
                            <h6>Категория</h6>
                        </div>
                        <div class="uk-cover-container uk-height-small"><img src="http://via.placeholder.com/100x100"
                                                                             alt=""
                                                                             uk-cover=""></div>
                        <p class="uk-text-center">6500 Сом</p>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-margin">
                            <h5 class="uk-text-center">Lorem ipsum dolor sit amet.</h5>
                            <h6>Категория</h6>
                        </div>
                        <div class="uk-cover-container uk-height-small"><img src="http://via.placeholder.com/100x100"
                                                                             alt=""
                                                                             uk-cover=""></div>
                        <p class="uk-text-center">6500 Сом</p>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-margin">
                            <h5 class="uk-text-center">Lorem ipsum dolor sit amet.</h5>
                            <h6>Категория</h6>
                        </div>
                        <div class="uk-cover-container uk-height-small"><img src="http://via.placeholder.com/100x100"
                                                                             alt=""
                                                                             uk-cover=""></div>
                        <p class="uk-text-center">6500 Сом</p>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-margin">
                            <h5 class="uk-text-center">Lorem ipsum dolor sit amet.</h5>
                            <h6>Категория</h6>
                        </div>
                        <div class="uk-cover-container uk-height-small">
                            <img src="http://via.placeholder.com/100x100" alt="" uk-cover="">
                        </div>
                        <p class="uk-text-center">6500 Сом</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-block" style="background-color: #25cfab; ;">
        <div class="uk-container">
            <h4>Начните свой бизнес с профессионалами</h4><a class="uk-button uk-button-default" href="">Начать</a>
        </div>
    </section>
{% endblock %}