{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <section class="slider">
        <div class="uk-position-relative uk-visible-toggle"
             uk-slideshow="animation: push; min-height: 300; max-height: 700">
            <ul class="uk-slideshow-items">
                {% for slider in sliders %}
                    <li><img src="{{ slider.image.url }}" alt="" uk-cover="">
                        <div class="uk-overlay uk-overlay-primary uk-position-center uk-text-center">
                            {% if slider.title %}
                                <h3>{{ slider.title }}</h3>
                            {% endif %}
                            {% if slider.description %}
                                <p class="uk-margin-remove">{{ slider.description }}</p>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="uk-light"><a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                                     uk-slidenav-previous="" uk-slideshow-item="previous"></a><a
                    class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next=""
                    uk-slideshow-item="next"></a></div>
        </div>
    </section>
    <section class="statistic">
        <div class="uk-container">
            <h2>Статистика</h2>
            <div class="uk-grid uk-child-width-1-3@m" uk-grid="">
                <div>
                    <div class="item">
                        <div class="ldBar label-center" style="width:60%;height:60%;margin:auto;" data-value="100"
                             data-preset="circle" data-stroke="#40b0b4" data-stroke-trail-width="10"
                             data-stroke-width="5"></div>
                        <h4 class="uk-text-center">Прибыль</h4>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="ldBar label-center" style="width:60%;height:60%;margin:auto;" data-value="10"
                             data-preset="circle" data-stroke="#40b0b4" data-stroke-trail-width="10"
                             data-stroke-width="5"></div>
                        <h4 class="uk-text-center">С нами уже</h4>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="ldBar label-center" style="width:60%;height:60%;margin:auto;" data-value="0"
                             data-preset="circle" data-stroke="##40b0b4" data-stroke-trail-width="10"
                             data-stroke-width="5"></div>
                        <h4 class="uk-text-center">Рисков</h4>
                    </div>
                </div>
            </div>
            <p class="uk-text-center" style="font-size: 16pt;">New Life - это уникальный сервис, где вы можете создать
                свой онлайн-бизнес,
                набрать команду профессионалов для получения стабильного и неограниченного дохода.</p>
        </div>
    </section>
    <section class="text-block" style="background-color: rgba(62, 189, 249, 0.9); ;">
        <div class="uk-container">
            <h4>Мы создаем лучшие условия для онлайн-бизнеса,
                Вам только остается всем этим воспользоваться и зарабатывать достойно.</h4><a
                class="uk-button uk-button-default" href="" uk-toggle="target: #registration">Начать бесплатно</a>
        </div>
    </section>
    <section class="work-block">
        <div class="uk-container">
            <h4>Как это все устроено</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/P9wt2gARofU" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p style="font-size: 16pt;">Дополнительный заработок, возможность быстро заработать, надежный и стабильный
                источник дохода?!
                Все это есть в New Life!
                <br>
                - Если у вас есть основная работа и нужны дополнительные деньги, присоединяйтесь к нам и зарабатывайте
                их, уделяя время проекту всего 2-3 часа в день, без отрыва от вашей основной работы.
                <br>
                - Вы можете зарабатывать деньги в нашем проекте за очень короткие сроки. У нас есть для вас бонусы,
                которые и будут способствовать быстрому заработку.
                <br>
                - Каждый хочет надежный и стабильный доход. New life предоставляет эту возможность и вам. Здесь
                легко развивать свою активную команду, и вместе начать зарабатывать.</p>
        </div>
    </section>
    <section class="text-block" style="background-color: #f3c753; ;">
        <div class="uk-container">
            <h4>Начните свой бизнес с профессионалами</h4><a class="uk-button uk-button-default" href="">Начать
            бесплатно</a>
        </div>
    </section>
    <section class="advantage">
        <div class="uk-container">
            <h2>Наше преимущество</h2>
            <div class="uk-grid uk-grid-small uk-margin-large uk-child-width-1-4@m" uk-grid=""
                 uk-height-match="target: &gt; div &gt; .item">
                <div>
                    <div class="item uk-box-shadow-small">
                        <div class="uk-padding">
                            <div class="image uk-text-center"><img src="{% static 'img/t1.png' %}" alt=""></div>
                            <h5 class="uk-text-center">Открыт для всех</h5>
                            <p class="uk-text-center">Зарабатывайте
                                когда хотите, даже если вы были в отъезде, аккаунт остается за вами, чтобы продолжить
                                участие, просто войдите в него.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small">
                        <div class="uk-padding">
                            <div class="image uk-text-center"><img src="{% static 'img/t2.png' %}" alt=""></div>
                            <h5 class="uk-text-center">Бонус-аккаунты</h5>
                            <p class="uk-text-center">Каждому новому участнику дается возможность открыть 2 аккаунта
                                качестве
                                бонуса на один Мобильник кошелек. Чем раньше вы вступите в проект, тем быстрей вы
                                получите партнеров и начнете
                                зарабатывать.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small">
                        <div class="uk-padding">
                            <div class="image uk-text-center"><img src="{% static 'img/t3.png' %}" alt=""></div>
                            <h5 class="uk-text-center">Мгновенные переводы</h5>
                            <p class="uk-text-center">Все денежные переводы осуществляются только между участниками
                                проекта
                                напрямую, без посредников. В проекте деньги не хранятся, что гарантирует
                                безопасность.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small">
                        <div class="uk-padding">
                            <div class="image uk-text-center"><img src="{% static 'img/t4.png' %}" alt=""></div>
                            <h5 class="uk-text-center">Развитие и поддержка</h5>
                            <p class="uk-text-center">Профессиональная команда поддержки всегда поможет, и
                                проконсультирует.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tarif">
        <div class="uk-container">
            <h2>Тарифы и стоимость</h2>
            <p></p>
            <div class="uk-grid uk-margin-large uk-child-width-1-5@m" uk-grid="">
                {% for product in products %}
                    <div>
                        <div class="item">
                            <div class="uk-margin">
                                <h5 class="uk-text-center">{{ product.title }}</h5>
                            </div>
                            {% if product.image %}
                                <div class="uk-cover-container uk-height-small">
                                    <img src="{{ product.image.url }}" alt="" uk-cover="">
                                </div>
                            {% endif %}
                            <p class="uk-text-center">{{ product.price }} Сом</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="text-block" style="background-color: #25cfab; ;">
        <div class="uk-container">
            <h4>ВЫ ГОТОВЫ УДВОИТЬ СВОЮ ПРОДУКТИВНОСТЬ
                УЖЕ НА ЭТОЙ НЕДЕЛЕ?</h4><a class="uk-button uk-button-default" href=""
                                           uk-toggle="target: #registration">Начать бесплатно</a>
        </div>
    </section>
{% endblock %}