{% extends 'base.html' %}

{% block content %}
    <section class="market-plan">
        <div class="uk-container">
            <div class="uk-width-3-2@m uk-margin-auto ">
                <div class="uk-grid  uk-grid-small uk-flex-middle uk-grid-match" uk-grid="">
                    <div class="uk-width-expand@m">
                        <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-flex-middle" uk-grid=""
                             style="height: auto;">
                            <div class="uk-width-auto color-class c1 uk-text-center"><b>1 <br></b>
                                <h6>Тариф <br></h6>
                                <h5>500 сом </h5>
                            </div>
                            <div class="uk-width-expand uk-text-center">
                                <h4>350с х 2ч = 700с</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m" style="height: auto;">
                        <div class="uk-card uk-card-default right-side uk-text-center" style="height: auto;">
                            <div class="top-block uk-width-1-1">
                                <div>АКТИВИЗАЦИЯ И ПРОДУКЦИЯ</div>
                            </div>
                            <div class="price c1">150с.</div>
                            <div class="bottom-block uk-width-1-1">
                                <div>2 шт. Салфетки мал</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="uk-divider-icon uk-margin-small">
                <div class="uk-grid  uk-grid-small uk-flex-middle uk-grid-match" uk-grid="">
                    <div class="uk-width-expand@m">
                        <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-flex-middle" uk-grid=""
                             style="height: auto">
                            <div class="uk-width-auto color-class c2 uk-text-center"><b>2 <br></b>
                                <h6>Тариф <br></h6>
                                <h5>1000 сом </h5>
                            </div>
                            <div class="uk-width-expand uk-text-center">
                                <h4>700с х 4ч = 2800с</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m" style="height: auto;">
                        <div class="uk-card uk-card-default right-side uk-text-center" style="height: auto;">
                            <div class="top-block uk-width-1-1">
                                <div>АКТИВИЗАЦИЯ И ПРОДУКЦИЯ</div>
                            </div>
                            <div class="price c2">350с.</div>
                            <div class="bottom-block uk-width-1-1">
                                <div>2 шт. Салфетки сред.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="uk-divider-icon uk-margin-small">
                <div class="uk-grid  uk-grid-small uk-flex-middle uk-grid-match" uk-grid="">
                    <div class="uk-width-expand@m">
                        <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-flex-middle" uk-grid=""
                             style="height: auto">
                            <div class="uk-width-auto color-class c3 uk-text-center"><b>3 <br></b>
                                <h6>Тариф <br></h6>
                                <h5>1600 сом </h5>
                            </div>
                            <div class="uk-width-expand uk-text-center">
                                <h4>1000с х 8ч = 8000с</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m" style="height: auto;">
                        <div class="uk-card uk-card-default right-side uk-text-center" style="height: auto;">
                            <div class="top-block uk-width-1-1">
                                <div>АКТИВИЗАЦИЯ И ПРОДУКЦИЯ</div>
                            </div>
                            <div class="price c3">600с.</div>
                            <div class="bottom-block uk-width-1-1">
                                <div>2 шт. Салфетки боль.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="uk-divider-icon uk-margin-small">
                <div class="uk-grid  uk-grid-small uk-flex-middle uk-grid-match" uk-grid="">
                    <div class="uk-width-expand@m">
                        <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-flex-middle" uk-grid=""
                             style="height: auto">
                            <div class="uk-width-auto color-class c4 uk-text-center"><b>4 <br></b>
                                <h6>Тариф <br></h6>
                                <h5>3200 сом </h5>
                            </div>
                            <div class="uk-width-expand uk-text-center">
                                <h4>2000с х 16ч = 32000с</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m" style="height: auto;">
                        <div class="uk-card uk-card-default right-side uk-text-center" style="height: auto;">
                            <div class="top-block uk-width-1-1">
                                <div>АКТИВИЗАЦИЯ И ПРОДУКЦИЯ</div>
                            </div>
                            <div class="price c4">1200с.</div>
                            <div class="bottom-block uk-width-1-1">
                                <div>2 шт. Салфетки боль.+сред.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="uk-divider-icon uk-margin-small">
                <div class="uk-grid  uk-grid-small uk-flex-middle uk-grid-match" uk-grid="">
                    <div class="uk-width-expand@m">
                        <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-flex-middle" uk-grid=""
                             style="height: auto">
                            <div class="uk-width-auto color-class c5 uk-text-center"><b>5 <br></b>
                                <h6>Тариф <br></h6>
                                <h5>6400 сом </h5>
                            </div>
                            <div class="uk-width-expand uk-text-center">
                                <h4>4000с х 32ч = 128 000с</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m" style="height: auto;">
                        <div class="uk-card uk-card-default right-side uk-text-center" style="height: auto;">
                            <div class="top-block uk-width-1-1">
                                <div>АКТИВИЗАЦИЯ И ПРОДУКЦИЯ</div>
                            </div>
                            <div class="price c5">2400с.</div>
                            <div class="bottom-block uk-width-1-1">
                                <div>Памперс</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="uk-divider-icon uk-margin-small">
                <div class="uk-grid  uk-grid-small uk-flex-middle uk-grid-match" uk-grid="">
                    <div class="uk-width-expand@m">
                        <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-flex-middle" uk-grid=""
                             style="height: auto">
                            <div class="uk-width-auto color-class c6 uk-text-center"><b>6 <br></b>
                                <h6>Тариф <br></h6>
                                <h5>12800 сом </h5>
                            </div>
                            <div class="uk-width-expand uk-text-center">
                                <h4>8000с х 64ч = 512 000с</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m" style="height: auto;">
                        <div class="uk-card uk-card-default right-side uk-text-center" style="height: auto;">
                            <div class="top-block uk-width-1-1">
                                <div>АКТИВИЗАЦИЯ И ПРОДУКЦИЯ</div>
                            </div>
                            <div class="price c6">4800с.</div>
                            <div class="bottom-block uk-width-1-1">
                                <div>Памперс+Салфетка</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="uk-divider-icon uk-margin-small">
                <div class="uk-grid  uk-grid-small uk-flex-middle uk-grid-match" uk-grid="">
                    <div class="uk-width-expand@m">
                        <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-flex-middle" uk-grid=""
                             style="height: auto">
                            <div class="uk-width-auto color-class c7 uk-text-center"><b>7 <br></b>
                                <h6>Тариф <br></h6>
                                <h5>26500 сом </h5>
                            </div>
                            <div class="uk-width-expand uk-text-center">
                                <h4>16000с. 128ч. = 2 048 000с.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m" style="height: auto;">
                        <div class="uk-card uk-card-default right-side uk-text-center" style="height: auto;">
                            <div class="top-block uk-width-1-1">
                                <div>АКТИВИЗАЦИЯ И ПРОДУКЦИЯ</div>
                            </div>
                            <div class="price c7">9600с.</div>
                            <div class="bottom-block uk-width-1-1">
                                <div>4 шт. Памперс+Салфетка</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}